{% extends 'app/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <img class="thumbnail-detail" src="{{ product.imageURL }}">
    </div>
    <div class="col-lg-6">
        <div class="box-element-detail">
            <h2>{{ product.name }}</h2>
            <h4><strong>${{ product.price }}</strong></h4>
            <p>{{ product.description }}</p>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        </div>
    </div>
</div>
<br> <br>
<h1 style="margin-left: 40px;">Related Products</h1>
<!-- Додаємо карусель -->
<div class="content">
    <div class="slider multiple-items">
        {% for product in all_products %}
        <div class="slider-margin"><a href="{% url 'product_detail' product.id %}"><img src="{{ product.imageURL }}" alt="Image {{ forloop.counter }}"></a></div>
        {% endfor %}
    </div>
</div>

<br> <br>
<h1 style="margin-left: 40px;">Related Products</h1>
<!-- Додаємо карусель -->
<div class="content">
    <div class="slider multiple-items">
        {% for product in all_products %}
        <div class="slider-margin"><a href="{% url 'product_detail' product.id %}">  <img src="{{ product.imageURL }}" alt="Image {{ forloop.counter }}"> </a></div>
        {% endfor %}
    </div>
</div>
{% endblock content %}



