
{% extends 'app/main.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'app' %}">&#x2190; Continue Shopping</a>
            <br><br>
            <h3>{{message}}</h3>
            <table class="table">

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2">
                        <a href="{% url 'product_detail' item.product.id %}">
                            <img class="row-image" src="{{ item.product.imageURL }}">
                        </a>
                    </div>
                    <div style="flex:2">
                        <a class="wishlist-link" href="{% url 'product_detail' item.product.id %}">
                            <p>{{ item.product.name}}</p>
                        </a>
                    </div>

                    <div style="flex:1"><p>${{ item.product.price }}</p></div>

                    <div style="flex:1">
                        <form method="POST" action="{% url 'remove_from_wishlist' item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </table>

            {% if customer %}
                {% if Is_history and Is_wishlist_items %}
                <br> <br>
                <h3 style="margin-left: 40px; background-color: rgb(243, 193, 237);">You might be interested in:</h3>
                    <div class="content">
                        <div class="slider multiple-items">
                            {% for rec in recommendations %}
                            <div class="slider-margin"><a href="{% url 'product_detail' rec.id %}"><img src="{{ rec.imageURL }}" alt="Image {{ forloop.counter }}"></a></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
